<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>User</title>
    {% comment %} <title>{% block title %}{% endblock title %}</title> {% endcomment %}

    
    {% block style %}
    {% endblock style %}
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div> 
</body>
</html>