{% extends 'base.html' %}

{% block title %}
    Homepage
{% endblock title %}


{% block style %}
    <style>
        h1 {
            text-align: center;
        }
        a {
            display: inline-block;
            background: #313030;
            color: #FFF;
            border: 0;
            border-radius: 4px;
            text-align: center;
            padding: 20px 30px;
            line-height: 1;
            text-decoration: none;
        }
        a:hover {
          background: #c7c5c5;
          color: #313030;
        }
        .a2 {
            margin-left: 1em;
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            border: 3px solid #313030;
        }
    </style>
{% endblock style %}

{% block content %}
    <br>
    <div class="alert alert-success" role="alert">
        <h1>Welcome {{ name }}!</h1>
    </div>
    <br>
    <div class="center">
        <a class="a2" href="{% url 'logout' %} ">Logout</a>
    </div>
{% endblock content %}