{% extends 'base.html' %}

{% block title %}
    Login
{% endblock title %}

{% block content %}
  <br>
  <div class="alert alert-success" role="alert">
    <h2 style="text-align: center;">Login</h2>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
{% endblock content%}