{% extends 'base.html' %}

{% block title %}
    Register
{% endblock title %}

{% block content %}
    <br>
    <div class="alert alert-success" role="alert">
        <h3 style="text-align: center;">Sign Up</h3>
    </div>
    <br>

    <form action="" method="POST">
        {% csrf_token %}
    
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% comment %} {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %} {% endcomment %}
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
        </p>
        {% endfor %}
        <button type="submit">Register</button>
    </form>
{% endblock content%}