{% extends 'main.html' %}

{% comment %} {% load static %} {% endcomment %}

{% block title %}
    API Data List
{% endblock title %}

{% block style %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{% endblock style %}

{% block content %}
    <div class="container">
        </br>
        <div class="text-center">
            <div class="col-sm-12">
                <h3>API Data</h3>
            </div>
        </div>
        </br>

        <table class="table table-bordered table-sm">
            <thead >
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Body</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td class="text-center align-middle">{{ post.id }}</td>
                        <td class="align-middle">{{ post.title }}</td>
                        <td class="text-justify align-middle">{{ post.body }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if posts.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end mr-3">
                <li class="page-item {% if posts.has_previous %} {% else %}disabled{% endif %}"><a class="page-link" href="{% if posts.has_previous %}?page={{ posts.previous_page_number }}{% endif %}">Previous</a></li>

                {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <li class="page-item active text-white"><a class="page-link">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                <li class="page-item {% if posts.has_next %} {% else %}disabled{% endif %}"><a class="page-link" href="{% if posts.has_next %}?page={{ posts.next_page_number }}{% endif %}">Next</a></li>
            </ul>
        </nav>
    {% endif %}
    </div>
{% endblock content %}