{% extends 'main.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block title %}
    Check Out
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{% endblock style %}

{% block content %}
    </br>
    <div class="container">
        <table class="table table-bordered table-sm">
            <thead >
                <tr>
                    <th class="text-center">Image</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Stock</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr class="cart-data-{{product.product.id}}">
                        <td class="text-center align-middle" style="height: 100px;">
                            <a href={{ product.product.image.url }} target="_blank">
                                <img src={{ product.product.image.url }} class="img-responsive mh-100" alt={{ product.product.name }}/>
                            </a>
                        </td>
                        <td class="text-left align-middle">{{ product.product.name }}</td>
                        <td class="text-center align-middle">{{ product.product.category.name }}</td>
                        <td class="text-center align-middle">{{ product.product.price }}</td>
                        <td class="text-center align-middle">{{ product.product.unit_in_stock }}</td>
                        <td class="text-center align-middle">
                            <a class="btn btn-info text-white btn-sm" onclick="cartIncrementDecrement('{{ product.product.id }}', 'minus')">
                                <span class="glyphicon glyphicon-pencil">-</span>
                            </a>
                            <span class='mr-2 ml-2' id='quantityCount_{{product.product.id}}'>
                                {{product.quantity}}
                            </span>
                            <a class="btn btn-info text-white btn-sm" onclick="cartIncrementDecrement('{{ product.product.id }}', 'plus')">
                                <span class="glyphicon glyphicon-pencil">+</span>
                            </a>
                            <br>
                            <br>
                            <a class="btn btn-danger text-white btn-sm" onclick="cartIncrementDecrement('{{ product.product.id }}', 'remove')">
                                <span class="glyphicon glyphicon-pencil">REMOVE</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3 class="text-right"> Total Price: <span id="totalPrice">{{ total_price }}</span> </h3>
        <br><br><br><br>
        <form method="POST" class="post-form">
            {% csrf_token %}
            <div>
                <div class="form-group text-center">
                    <div class="col-sm-12">
                        <h3>Order Information</h3>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Name:</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="name" id="id_name" required maxlength="100" value="" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Phone:</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="phone" id="id_phone" required maxlength="20" value=""/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Email:</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="email" id="id_email" required maxlength="50" value="" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Adderss:</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="address" id="id_address" required maxlength="250" value="" />
                    </div>
                </div>
                
                <div class="form-group text-center">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Submit Order</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <script>       
        function cartIncrementDecrement(id, status){
            var url = "/cart/item-increment-decrement"; 

            $.ajax({
                url: url,
                type:'GET',
                data:{
                    product_id : id, 
                    status: status,
                },
                success: function(data){
                    var returnedData = JSON.parse(data);
                    
                    $('#totalPrice').html(returnedData['total_price'])
                    $('#quantityCount_'+id).html(returnedData['quantity'])

                    if(status == 'remove' && returnedData['quantity'] == 0){
                        document.querySelector('.cart-data-'+id).style.display = 'none';
                    }
                },
                error: function(data){},
            })
        }
    </script>
{% endblock %}