{% extends 'main.html' %}

{% comment %} {% load static %} {% endcomment %}

{% block title %}
    API Data List
{% endblock title %}

{% block style %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{% endblock style %}

{% block content %}
    <div class="mr-3 ml-3">
        </br>
        <div class="text-center">
            <div class="col-sm-12">
                <h3>Excel Data</h3>
            </div>
        </div>
        </br>

        <table class="table table-bordered table-sm">
            <thead >
                <tr>
                    {% for head in header %}

                        <th class="text-center">{{ head }}</th>

                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in data %}
                    <tr>
                        {% for de in obj %}
                            <td class="text-center align-middle">{{ de }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}