{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock title %}</title>

        <link rel="stylesheet" href="{% static 'style.css' %}">

        {% block style %}
        {% endblock style %}
    </head>
    
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>