<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products PDF</title>
    <style>
        h1 {
          text-align: center;
        }
        td, th {
          text-align: center;
        }
        
    </style>
</head>
<body>
    
      <h1>List of Products</h1>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Stock</th>
            <th>Code</th>
            <th>Price</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.unit_in_stock }}</td>
                <td>{{ product.code }}</td>
                <td>{{ product.price }}</td>
                <td class="text-center align-middle" style="height: 70px;" >
                    <img src="{{ base_url }}/{{ product.image.url }}" class="img-responsive mh-100" alt={{ product.name }}/>
                </td>
            </tr>
          {% endfor %}    
        </tbody>
      </table>
</body>
</html>