{% extends 'main.html' %}

{% comment %} {% load static %} {% endcomment %}

{% block title %}
    Product Details
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
{% endblock style %}

{% block content %}
    <form method="POST" class="post-form" action="/product/update/{{product.id}}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <br>
            <br>
            <div class="form-group text-center">
                <div class="col-sm-12">
                    <h3>Product Details</h3>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">ID:</label>
                <div class="col-sm-9">
                    <label class="col-form-label">{{ product.name }}</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Name:</label>
                <div class="col-sm-9">
                    <label class="col-form-label">{{ product.name }}</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Price:</label>
                <div class="col-sm-9">
                    <label class="col-form-label">{{ product.price }}</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Stock:</label>
                <div class="col-sm-9">
                    <label class="col-form-label">{{ product.unit_in_stock }}</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Code:</label>
                <div class="col-sm-9">
                    <label class="col-form-label">{{ product.code }}</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Category:</label>
                <div class="col-sm-9">
                    <label class="col-form-label">{{ product.category.name }}</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Image:</label>
                <div class="col-sm-9" style="height: 200px;">
                    <a href={{ product.image.url }} target="_blank">
                        <img src="{{ product.image.url }}" class="img-responsive mh-100" alt="product.name"/>
                    </a>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}