{% extends 'main.html' %}

{% comment %} {% load static %} {% endcomment %}

{% block title %}
    Product List
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{% endblock style %}

{% block content %}
    </br>

    <div class="d-flex bd-highlight float-right mb-3 mr-3">
        <button type="button" class="read-mail btn btn-info text-white mr-3" data-toggle="modal" data-target="#readExcelModal">
            Read Excel
        </button>
        <div>
            <a href="/load-api-data" class="btn btn-info text-white mr-3">Load API Data</a>
        </div>
        <button type="button" class="send-attachment btn btn-info text-white mr-3" data-toggle="modal" data-target="#addMailModal">
            Send Mail
        </button>
        <div>
            <a href="/export-pdf" class="btn btn-info text-white mr-3" target="_blank">Export PDF</a>
        </div>
        <div>
            <a href="/export-in-excel" class="btn btn-info text-white mr-3">Export Excel</a>
        </div>
        <div>
            <a href="/checkout" class="btn btn-primary text-white">Check Out</a>
        </div>
        <div class="dropdown col">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                Sort
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/">Default</a>
                <a class="dropdown-item" href="?sort=price">Price low to high</a>
                <a class="dropdown-item" href="?sort=-price">Price high to low</a>
                <a class="dropdown-item" href="?sort=unit_in_stock">Stock ASC</a>
                <a class="dropdown-item" href="?sort=-unit_in_stock">Stock DESC</a>
            </div>
        </div>
        <div>
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" value="{{search}}" placeholder="Search by product name" aria-label="Search by product name" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <input class="btn btn-outline-secondary" type="submit" value="Search">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-bordered table-sm">
        <thead >
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Price</th>
                <th class="text-center">Stock</th>
                <th class="text-center">Code</th>
                <th class="text-center">Category</th>
                <th class="text-center">Image</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td class="text-center align-middle">{{ product.id }}</td>
                    <td class="text-left align-middle">{{ product.name }}</td>
                    <td class="text-center align-middle">{{ product.price }}</td>
                    <td class="text-center align-middle">{{ product.unit_in_stock }}</td>
                    <td class="text-center align-middle">{{ product.code }}</td>
                    <td class="text-center align-middle">{{ product.category.name }}</td>
                    <td class="text-center align-middle" style="height: 100px;">
                        <a href={{ product.image.url }} target="_blank">
                            <img src={{ product.image.url }} class="img-responsive mh-100" alt={{ product.name }}/>
                        </a>
                    </td>
                    <td class="text-center align-middle">
                        <a href="view/{{ product.id }}" class="btn btn-primary text-white mr-2" style="display: inline">
                            <span class="glyphicon glyphicon-pencil">View</span>
                        </a>
                        <a class="add-cart-btn_{{product.id}} btn btn-info text-white" style="display: {% if product.id not in carts %}inline{% else %}none{% endif %}" onclick="cartIncrementDecrement('{{ product.id }}', 'plus')">
                            <span class="glyphicon glyphicon-pencil">Add to Cart</span>
                        </a>
                        <a class="remove-cart-btn_{{product.id}} btn btn-info text-white" style="display: {% if product.id not in carts %}none{% else %}inline{% endif %}" onclick="cartIncrementDecrement('{{ product.id }}', 'remove')">
                            <span class="glyphicon glyphicon-pencil">Remove from Cart</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if products.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end mr-3">
                <li class="page-item {% if products.has_previous %} {% else %}disabled{% endif %}"><a class="page-link" href="{% if products.has_previous %}?page={{ products.previous_page_number }}{% endif %}">Previous</a></li>

                {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                        <li class="page-item active text-white"><a class="page-link">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                <li class="page-item {% if products.has_next %} {% else %}disabled{% endif %}"><a class="page-link" href="{% if products.has_next %}?page={{ products.next_page_number }}{% endif %}">Next</a></li>
            </ul>
        </nav>
    {% endif %}


    <!-- Send Mail Modal -->
    <div class="modal fade" id="addMailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="POST" class="post-form" action="send-attachment-mail" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Send an email with attachment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <input class="form-control" type="text" name="name" id="id_name" required maxlength="50" />
                    </div>
                    <div class="modal-body">
                        <input class="form-control" type="text" name="email" id="id_email" required maxlength="50" />
                    </div>
                    <div class="modal-body">
                        <input class="form-control" type="text" name="message" id="id_message" required maxlength="500" />
                    </div>
                    <div class="modal-body">
                        <input class="form-control" type="file" name="attachment" id="attachment" accept="image/*" required maxlength="20" value="0" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="Submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Read Excel Modal -->
    <div class="modal fade" id="readExcelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="POST" class="post-form" action="/read-excel" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Attach Email</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <input class="form-control" type="file" name="attachment" id="attachment" accept="" value="" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="Submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        $(".add-stock").on("click", function(event){
            productId = $(this).data("id");

            $('input[name="product_id"]').val(productId);
        });

        function cartIncrementDecrement(id, status){
            var url = "/cart/item-increment-decrement"; 

            $.ajax({
                url: url,
                type:'GET',
                data:{
                    product_id : id, 
                    status: status,
                },
                success: function(data){
                    var returnedData = JSON.parse(data);

                    var qty = returnedData['quantity'];

                    addCartBtnElement = document.querySelector('.add-cart-btn_'+id);
                    removeCartBtnElement = document.querySelector('.remove-cart-btn_'+id);

                    if(qty > 0){
                        addCartBtnElement.style.display = 'none';
                        removeCartBtnElement.style.display = 'inline';
                    } else {
                        addCartBtnElement.style.display = 'inline';
                        removeCartBtnElement.style.display = 'none';
                    }
                },
                error: function(data){},
            })
        }
    </script>
{% endblock content %}