{% extends 'main.html' %}

{% comment %} {% load static %} {% endcomment %}

{% block title %}
    Edit Product
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
{% endblock style %}

{% block content %}
    <form method="POST" class="post-form" action="/product/update/{{product.id}}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <br>
            <br>
            <div class="form-group text-center">
                <div class="col-sm-12">
                    <h3>Update Product Details</h3>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Name:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="name" id="id_name" required maxlength="100" value="{{ product.name }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Price:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="price" id="id_price" required maxlength="20" value="{{ product.price }}"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Code:</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="code" id="id_code" required maxlength="15" value="{{ product.code }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Category:</label>
                <div class="col-sm-9">
                    <select class="form-control" name="category">
                        {% if product.category == null %}
                            <option selected disabled>Select Category</option>
                        {% endif %}
                        
                        {% for cat in category %}
                            <option 
                            {% if cat.id == product.category.id %}
                                selected
                            {% endif %}
                            value="{{cat.id}}">{{cat.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Image:</label>
                <div class="col-sm-9 col">
                    <label class="col">Current: <a href={{ product.image.url }} target="_blank">{{ product.image.name }}</a></label>
                    <input class="col" type="file" name="image" id="id_image" accept="image/*" value="{{ product.image.url }}" />
                </div>
            </div>
            </br> </br>
            <input type="hidden" name="stock" id="id_stock" value="{{ product.stock }}" />
            <input type="hidden" name="unit_in_stock" id="id_unit_in_stock" value="{{ product.unit_in_stock }}"/>
            <input type="hidden" name="unit_in_order" id="id_unit_in_stock" value="{{ product.unit_in_order }}"/>
            <div class="form-group text-center">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}