{% extends 'main.html' %}

{% comment %} {% load static %} {% endcomment %}

{% block title %}
    Product List
{% endblock title %}

{% block style %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{% endblock style %}

{% block content %}
    </br>

    <div class="d-flex bd-highlight float-right mb-3 mr-3">
        <div>
            <a href="create" class="btn btn-primary text-white">Add New Product</a>
        </div>
        <div class="dropdown col">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                Sort
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/product">Default</a>
                <a class="dropdown-item" href="?sort=price">Price low to high</a>
                <a class="dropdown-item" href="?sort=-price">Price high to low</a>
                <a class="dropdown-item" href="?sort=stock">Stock ASC</a>
                <a class="dropdown-item" href="?sort=-stock">Stock DESC</a>
            </div>
        </div>
        <div>
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" value="{{search}}" placeholder="Search by product name" aria-label="Search by product name" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <input class="btn btn-outline-secondary" type="submit" value="Search">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-bordered table-sm">
        <thead >
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Price</th>
                <th class="text-center">Stock</th>
                <th class="text-center">Code</th>
                <th class="text-center">Category</th>
                <th class="text-center">Image</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td class="text-center align-middle">{{ product.id }}</td>
                    <td class="text-left align-middle">{{ product.name }}</td>
                    <td class="text-center align-middle">{{ product.price }}</td>
                    <td class="text-center align-middle">{{ product.unit_in_stock }}</td>
                    <td class="text-center align-middle">{{ product.code }}</td>
                    <td class="text-center align-middle">{{ product.category.name }}</td>
                    <td class="text-center align-middle" style="height: 100px;">
                        <a href={{ product.image.url }} target="_blank">
                            <img src={{ product.image.url }} class="img-responsive mh-100" alt={{ product.name }}/>
                        </a>
                    </td>
                    <td class="text-center align-middle">
                        <form onsubmit="return confirm('Are you sure?');" action="delete/{{ product.id }}" method="POST">
                            {% csrf_token %}
                            <a href="view/{{ product.id }}" class="btn btn-primary text-white btn-sm">
                                <span class="glyphicon glyphicon-pencil">View</span>
                            </a>
                            <button type="button" class="add-stock btn btn-info text-white btn-sm" data-toggle="modal" data-id="{{product.id}}" data-target="#addStockModal">
                                Add Stock
                            </button>
                            <a href="update/{{ product.id }}" class="btn btn-success text-white btn-sm">
                                <span class="glyphicon glyphicon-pencil">Edit</span>
                            </a>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if products.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end mr-3">
                <li class="page-item {% if products.has_previous %} {% else %}disabled{% endif %}"><a class="page-link" href="{% if products.has_previous %}?page={{ products.previous_page_number }}{% endif %}">Previous</a></li>

                {% for i in products.paginator.page_range %}
                    {% if products.number == i %}
                        <li class="page-item active text-white"><a class="page-link">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                <li class="page-item {% if products.has_next %} {% else %}disabled{% endif %}"><a class="page-link" href="{% if products.has_next %}?page={{ products.next_page_number }}{% endif %}">Next</a></li>
            </ul>
        </nav>
    {% endif %}


    <!-- Add Stock Modal -->
    <div class="modal fade" id="addStockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="POST" class="post-form" action="addStock/{{id}}">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Stock {{product.id}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input type="hidden" name="product_id" />

                    <div class="modal-body">
                        <input class="form-control" type="text" name="new_stock" id="id_stock" required maxlength="20" value="0" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="Submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>
        $(".add-stock").on("click", function(event){
            productId = $(this).data("id");

            $('input[name="product_id"]').val(productId);
        });
    </script>
{% endblock content %}